numpy
scipy
fastapi
uvicorn
jinja2
python-multipart
websockets
agno
edge-tts
jiwer
python-dotenv
langdetect
soundfile
requests
openai
sounddevice
RealtimeSTT
faster-whisper>=1.0.0
kokoro-onnx==0.4.7